@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
	body { font-family:"Nanum Gothic"; }
	.row{
		margin-top: 70px;
		margin-bottom: 40px;
	}
	.orange-bg{
		border: 1px solid orange;
		background-color: orange;
		width: 200px;
		margin-top: 10px;
	}
	.orange-border-term{
		border: 1px solid orange;
		background-color: white;
		color: orange;
		width: 110px;
		margin-top: 10px;
	}
	.orange-border-cancel{
		border: 1px solid orange;
		background-color: white;
		color: orange;
		width: 100px;
		margin-top: 10px;
	}
	#result1,#result2,#result3{
		font-size:10px;
		color: red;
	}
	.btn_addr{
		border: 1px solid #000033;
		background-color: white;
	
	}
	/* 약관 박스 */
	.term_text{
		font-size: 12px;
	}
	.term_stress{
		color:red;	
	}
	.bx_term_agree_1,.bx_term_agree_2,.bx_term_agree_3{
		border:1px solid #ccc;
		height:140px;
		max-width: 800px;
		overflow:hidden;
		overflow-y:scroll;
		color:#666;
	}

	dt,dd{
		font-size: 12px;
	}
	.term_headline{
		font-size: 12px;
	}
	.modal-title{
		font-size: 18px;
		font-weight: bold;
	}