@charset "UTF-8";
	hr{
		border: 2px solid orange;
	}
	p{
		font-size: 12px;
	}
	span{
		font-size: 16px;
	}
	.card{
		position: relative;
		height: 180px;
	}
	
 	.card1{
		position: absolute;
		margin-left: 10%;
	}
	
	.card2{
		position: absolute;
		margin-left: 57%;
	} 
	.row{
		margin-top: 90px;
		margin-bottom: 40px;
	
	}
	.shopwarn{
		color: red;
	}
	
	.btn_enroll{
		background-color: orange;
		border: 1px solid orange;
		color: white;
	}