@charset "UTF-8";
	a{
		text-decoration: none;
	}
	.top{
		position: relative;
    }
    .panel-title{
    	font-weight: bold;
    	color: orange;
    }
    .span_Info1{
    	font-size: 16px;
    	font-weight: bold;
    }
    .span_warn{
    	font-size: 14px;
    	color: red;
    }
	.sbasicInfo{
		position: absolute;
		margin-top: 50px;
		height: 140px;
		/* background-color: #FA8072; */
		background-color: orange;
		width: 100%;
	}
	.panel{
		border: 1px solid orange;
	}
	.panel-body{
		color: black;
	}
	
	.Info1{
		margin-top: 200px;
		margin-left: 5%;
		margin-right: 5%;
		background-color: white;
	}
	
	.sName{
		position: absolute;
		margin-top: 25px;
		font-size: 30px;
		font-weight: bold;
		left: 5%;
		color: white;	
	}
	.sbasicInfo_tbl1{
		position: absolute;
		border-top: 1px solid white;
		top: 50%;
		left: 15%;
		color: white;
	}
	.sbasicInfo_tbl1 td{
		width: 150px;
		height: 13px;
		
	}
	
	.sbasicInfo_tbl2{
		position: absolute;
		top: 20%;
		margin-left: 20%;
		color: white;
	}
	.sbasicInfo_tbl2_header{
    	text-align: center;
    	color: white;
    }
	.sbasicInfo_tbl2 td{
		padding: 10px 0px 10px 0px;
	}
	
	.menu{
		margin-left: 5%;
		margin-right: 5%;
	}
	.sMenu_tbl{
		position: absolute;
		top: 40%;
		left: 5%;
		width: 70%;
		color: white;
	}
	.imageView{
		position: absolute;
		top: 10px;
		left: 0%;
	}
	.image1,.image2,.image3,.image4,.image5{
		width:130px;
		height:130px;
	}
	.row5{
		margin-bottom: 70px;
	}