@charset "UTF-8";
/* =============================== login befor ============================== */
/* ================================= header ================================= */
#search_header {
	display:block;
	position:relative;
	width:100%;
	min-width:1200px;
	background-color:#faa72a;
}

/* ================================= logo ================================= */
#search_logo {
	display:block;
	position:relative;
	top:15px;
	left:-600px;
	margin-left:50%;
	width:190px;
	height:90px;
}

/* ================================= search ================================= */
/* 검색 창 */
#search {
	position:absolute; 
	top:23px; 
	left:-275px;
	width:498px; 
	height:43px; /* border 1px */
	margin-left:50%;
	padding-left:15px;
	border:1px solid #fff;
	outline:none;
}

/* 검색 placeholder */
#search::-webkit-input-placeholder{font-size:15px;color:#a3a3a3; }  /* Chrome/Opera/Safari */
#search:-moz-placeholder{font-size:15px;color:#a3a3a3;}			   /* Mozilla Firefox 4 to 18 */
#search::-moz-placeholder{font-size:15px;color:#a3a3a3;}		   /* Mozilla Firefox 19+ */
#search:-ms-input-placeholder{font-size:15px;color:#a3a3a3;}	   /* Internet Explorer 10+ */


/* 검색 버튼 */
#search_btn {
	position:absolute;
	top:23px;
	left:225px;
	margin-left:50%;
	width:45px;
	height:45px;
	background:url('../../images/search_icon.png') no-repeat;
	background-position:center center;
	background-size:24px 23px;
	background-color:#ffa827;
	border:1px solid #fff;
	cursor:pointer;
}

/* ================================= login ================================= */

#login_wrap {
	display:block;
	position:absolute;
	top:23px;
	margin-right:50%;
	right:-570px;
}

#login_wrap a {
	display:block;
	font-family: gotham_Medium; 
	font-style: normal; 
	font-weight: normal;
	font-size:16px;
}

#login_wrap #login {
	display:block;
	float:left;
	margin-top:9px;
	padding-right:15px;
	color:#fff;
}

#lgoin_icon {
	float:right;
}

/* ================================= login after ================================= */
#user_info_list {
	display:none;
}
