<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<select id="login" parameterType="hashmap" resultType="MemberDTO">
		select * from member
		where mId = #{mId} and mPasswd = #{mPasswd}
	</select>
	
	<update id="mLastLogin" parameterType="hashmap">
  		update member
  		set mLastLogin = sysdate
  		where mId = #{mId}
  	</update>
  	
	<insert id="memberAdd" parameterType="MemberDTO">
		insert into member (mId,mPasswd,mName,mPhone,mBirth)
		values(#{mId},#{mPasswd},#{mName},#{mPhone},#{mBirth})
	</insert>
	
	<!-- <insert id="pointAdd" parameterType="hashmap">
		insert into pointTb (pNum,mId,pDate,point,pTotal)
		values(SEQ_pointTb_pNum.NEXTVAL,#{mId},sysdate,1000,1000)
	</insert> -->
	
	<select id="mMyPage" parameterType="string" resultType="MemberDTO">
    	select mId,mPasswd,mName,mPhone,mBirth
   		from member
   		where mId = #{mId}
	</select>
	
	<update id="mPwUpdate" parameterType="hashmap">
		update member
		set mPasswd=#{mPasswd}
		where mId=#{mId}
	</update>
	
	<select id="mPwCheck" parameterType="hashmap" resultType="int">
		select count(*) 
		from member
		where mId=#{mId} and mPasswd=#{mPasswd}
	</select>
	
	
	<update id="mPhoneUpdate" parameterType="hashmap">
		update member
		set mPhone=#{mPhone}
		where mId=#{mId}
	</update>
	
	
	<select id="mJoinIdCheck" parameterType="String" resultType="int">
    	select count(*) from member
    	where mId = #{mId}
	</select>
	
	<select id="mJoinNameCheck" parameterType="String" resultType="int">
    	select count(*) from member
    	where mName = #{mName}
	</select>
	
	<select id="findmId" parameterType="hashmap" resultType="string">
    	select mId
   		from member
   		where mName = #{mName} and and mPhone = #{mPhone}
	</select>
	
	<select id="findmPasswd" parameterType="hashmap" resultType="string">
    	select mPasswd
   		from member
   		where soId = #{mId} and and mName = #{mName} and mPhone = #{mPhone}
	</select>
	
</mapper>