<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SoMapper">
	<select id="soIdCheck" parameterType="string" resultType="int">
		select count(*) 
		from shopowner
		where soId=#{soId}
	</select>
	
	<!-- 사업자 번호 체크 -->
	
	<insert id="soJoin" parameterType="hashmap">
		insert into shopowner(soId,soPasswd,soName,soPhone,soLicense,soPost,soAddr)
		values(#{soId},#{soPasswd},#{soName},#{soPhone},#{soLicense},#{soPost},#{soAddr})
	</insert>
	
	<select id="login" parameterType="hashmap" resultType="SoDTO">
    	select soId,soPasswd,soName,soPhone,soLicense,soPost,soAddr,soLevel,to_char(soJoindate,'YYYY-MM-DD') as soJoindate
   		from shopowner
   		where soId = #{soId} and soPasswd=#{soPasswd}
  	</select>	
  	
  	<select id="soMyPage" parameterType="string" resultType="SoDTO">
    	select soId,soPasswd,soName,soPhone,soLicense,soPost,soAddr,soLevel,to_char(soJoindate,'YYYY-MM-DD') as soJoindate
   		from shopowner
   		where soId = #{soId}
	</select>	
	
	<select id="findSoId" parameterType="hashmap" resultType="string">
    	select soId
   		from shopowner
   		where soLicense = #{soLicense} and soName = #{soName} and soPhone = #{soPhone}
	</select>
	
	<select id="findSoPasswd" parameterType="hashmap" resultType="string">
    	select soPasswd
   		from shopowner
   		where soId = #{soId} and soLicense = #{soLicense} and soName = #{soName} and soPhone = #{soPhone}
	</select>
	
	<update id="soPwUpdate" parameterType="hashmap">
		update shopowner
		set soPasswd=#{soPasswd}
		where soId=#{soId}
	</update>
	
	<select id="soPwCheck" parameterType="hashmap" resultType="int">
		select count(*) 
		from shopowner
		where soId=#{soId} and soPasswd=#{soPasswd}
	</select>
	
	<update id="soPhoneUpdate" parameterType="hashmap">
		update shopowner
		set soPhone=#{soPhone}
		where soId=#{soId}
	</update>
	
	<delete id="soLeave" parameterType="string">
		delete from shopowner
		where soId=#{soId}
	</delete>
  	
  	<insert id="payment" parameterType="SvDTO">
  		insert into payment(soId,payNum,payDate,period,price)
		values(#{soId},SEQ_payment_soId.nextval,default,#{period},#{price})
  	</insert>
</mapper>