<style>
	.container-fluid{
		margin-top: 100px;
	}
	
	.table-hover{
		font-size: 13px;
	}
	.col-sm-4{
		margin-left: 10%;
	}
	.black-background{
		border: 1px solid #343A40;
		background-color: #343A40;
		width: 280px;
		color: white;
	}
	.black-border{
		border: 1px solid #343A40;
		background-color: white;
		color: #343A40;
		width: 280px;
	}
</style>