@charset "UTF-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
	body { font-family:"Nanum Gothic"; }
	hr{
		border: 2px solid orange;
	}
	p{
		font-size: 12px;
	}
	span{
		font-size: 16px;
	}
	.card{
		position: relative;
		height: 180px;
	}
	
	.card1{
		position: absolute;
		margin-left: 10%;
	}
	
	.card2{
		position: absolute;
		margin-left: 57%;
	}
	.row{
		margin-top: 70px;
	
	}
	.shopwarn{
		color: red;
	}